<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body style='background-color:purple;'>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark mb-5 d-flex justify-content-between">
      <%=  %>
      <%= link_to cocktails_path do %>
        <i class="fas fa-cocktail" style='font-size: 30px;color:white;'></i>
      <% end %>
      <%= link_to "New cocktail", new_cocktail_path, class: 'navbar-brand'%>
</nav>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </body>
</html>
